body {
    background-color: #333A3E;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-left: 300px;
}
#game-title > h1 {
    padding-left: 150px;
    font-weight: bolder;
    font-family: sans-serif;
}

#space-bar-img {
    width: 150px;
}

#arrow-buttons-img {
    width: 100px;
}

#game-instructions {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

#arrow-buttons {
    padding-left: 200px;
}